* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

:root {
  --bg-primary: #fefefe;
  --bg-secondary: #0245a3ff;
  --font-primary: #000000ff;
  --font-secondary: #fefefe;
  --light: #b7d3f2ff;
  --mid: #2d898bff;
  --green: #2d898bff;
}

/* :root .dark-mode {
  --bg-primary: #0245a3ff;
  --bg-secondary: #fefefe;
  --font-primary: #fefefe;
  --font-secondary: #000000ff;
  --dark: #07689f;
  --darkest: #05486e;
} */

#root {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
  height: calc(100% - 4rem);
  /* padding: 2rem; */
  background-color: var(--bg-color);
  overflow-y: scroll;
}

