.dashboard {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  /* flex-grow: 1; */
  height: 100%;
  width:100%;
  max-width: 1400px;
  padding: 0 2rem;
  margin: 1rem auto;
  gap: 2rem;
}

.dash-title-wrapper {
  grid-area: 1 / 1 / span 2 / span 12;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.dash-transactions {
  grid-area: 3 / 1 / span 8 / span 8;
}

.dash-pay-method {
  grid-area: 3 / 9 / span 8 / span 4;
}

@media (max-width: 1150px) {
  .dashboard {
    display: block;
    padding: 1rem;
  }

  .dash-paper {
    width: 100%;
  }

  /* .dash-title-wrapper {
    grid-area: 1 / 1 / span 1 / span 12;

  }
  .dash-transactions {
    grid-column: 1 / span 12;
  }

  .dash-pay-method {
    display: none;
    grid-area: 3 / 9 / span 8 / span 4;
  } */
}