nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  height: 4rem;
  background-color: var(--bg-secondary);
  box-shadow: 0px 5px 5px #00000025;
}

.logo {
  width: 10rem;
}

.menu-icon {
  padding: 0 1rem 0 0;
  color: var(--font-secondary);
  cursor: pointer;
}

.nav-menu-mobile {
  position: absolute;
  top: 3.8rem;
  bottom: 0;
  right: 0;
  left: 50%;
  flex-direction: column;
  padding: 10px 20px;
  background-color: var(--bg-secondary);
  transition: all 1s ease-in-out;
  z-index: 10;
}

.nav-menu-hide {
  transform: translateX(50vw);
}

.nav-menu-show {
  visibility: visible;
  transform: translateX(0vw);
}

/* un poco chapucero */
.nav-menu-desktop {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 70%;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-menu-mobile span,
.nav-menu-desktop span {
  color: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem 0;
}

.nav-menu-mobile .round-btns {
  width: 100%;
}
.nav-menu-desktop .round-btns {
  width: 100px;
}

.nav-menu-desktop .auth-btns-container {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}
