.transactions-table {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
}

.transactions-column {
  grid-row: 1 / span 1;
  padding: 1rem 0rem;
}

.transactions-entry {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / span 5 ;
  padding: 1rem 1rem;
  border-radius: 4px;
}

.transactions-entry:hover {
  box-shadow: 0 1px 2px hsl(0, 0%, 70%);
}