.profile {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 600px;
  width:100%;
  max-width: 1400px;
  padding: 0 2rem;
  margin: 1rem auto;
  gap: 2rem;
}

.profile-basic-info-card {
  grid-area: 1 / 1 / span 7 / 13;
}

.profile-costumer-info-card {
  grid-area: 8 / 1 / span 10 / 13;
}

.profile-basic-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.profile-costumer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

@media (min-width:1000px) {
  .profile-basic-info-card {
    grid-area: 1 / 2 / span 7 / 5;
  }
  
  .profile-costumer-info-card {
    grid-area: 1 / 5 / span 7 / 12;
  }
}